.all-products {
    margin: auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.product-card-section {
    list-style: none;
    height: 372px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    list-style: none;
    position: relative;
    width: 232px;
}

.product-card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border: solid 0.9px transparent;
    padding: 10px;
}

.product-card-section:hover {
    box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18);
    z-index: 1111;
}

.product-img {
    position: relative;
    overflow: hidden;
    min-height: 232px;
    max-height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.product-name {
    color: #999;
    max-height: 36px;
    max-width: 192px;
    line-height: 18px;
    overflow: hidden;
    font-size: 14px;
    min-height: 2rem;
}

.product-price {
    margin-top: 10px;
    vertical-align: baseline;
}

.main-product-price {
    float: left;
    margin: 3px 5px;
}

.product-card .product-price .discount-price,
.product-card .product-price .mrp {
    color: #333;
    font-size: 13px;
}

.product-card .product-price .discount-price.strike {
    color: #ccc;
    text-decoration: line-through;
}

.product-card .product-disc {
    border: 1px solid #ccc;
    background: #fff;
    display: inline-block;
    font-size: 10px;
    color: #999;
    padding: 5px;
    border-radius: 1px;
    margin-top: -4px;
}

@media only screen and (max-width: 1200px) {
    .all-products {
        grid-template-columns: repeat(4, 1fr);

    }
}
@media only screen and (max-width: 950px) {
    .all-products {
        grid-template-columns: repeat(3, 1fr);

    }
}
@media only screen and (max-width: 750px) {
    .all-products {
        grid-template-columns: repeat(2, 1fr);

    }
}
@media only screen and (max-width: 500px) {
    .all-products {
        grid-template-columns: repeat(1, 1fr);

    }
}